body, html {
    height: 100%;
    overflow: hidden;
    background: hsl(200, 6%, 10%);   /* dark gray background */
    color: #f1f1f1;
}

body.scroll-enabled,
html.scroll-enabled {
    height: auto;
    overflow: auto;
}

.center_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Poppins, sans-serif;
}
.center_box h1 { 
    margin-bottom:0;
    font-size: 3rem;
    font-weight:500;
}
.center_box h3 {
    margin-top: -0.8rem;
    font-size: 2rem;
    font-weight: 200;
}

.zoom_text {
    display: inline-block;
    transition: 
        transform 0.2s cubic-bezier(.4,0,.2,1),
        opacity 0.2s cubic-bezier(.4,0,.2,1);
}

.zoom_top, .zoom_bottom {
    transition: transform 0.4s linear;
}
.intro-overlay {
  position: fixed;
  inset: 0;                  /* top:0;left:0;right:0;bottom:0 */
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;  z-index: 10;
  transition: transform 0.2s, opacity 0.2s;
}
body.scrolled .intro-overlay {
  transform: scale(0.8);
  opacity: 0;
  pointer-events: none;
}

.nav-bar {
    position: absolute;
    top: 0%;
    left: 50%; 
    transform: translatex(-50%);
    display: flex;
    height: 3rem;
    gap: clamp(0.2rem, 0.4rem, 2rem);
    padding: 0.2rem;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: #fdf9ed;
}

.nav-bar-btns {
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 1.2rem;
    color: hsl(200, 6%, 10%);
    text-decoration: none;
    padding: 1.5rem 0.6rem;
    background-color: rgba(99, 99, 99, 0.7); 


} 

.main-content {
    min-height: 100vh;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.2s cubic-bezier(.4,0,.2,1), opacity 0.2s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Poppins, sans-serif;
    opacity: 0;
    transform: scale(0.8);
    transition: 
    transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background-color: hsl(200, 6%, 10%);
    background-image:
      repeating-radial-gradient(
        circle at center,
        rgba(255,255,255,0.1) 1px,
        transparent 1px,
        transparent 40px,
        rgba(255,255,255,0.1) 41px
      );

    background-repeat: no-repeat;
    background-size: cover;
}

body.scrolled .main-content {
  opacity: 1;
  transform: scale(1);
}

.intro { 
    margin: 4rem 0 0 2rem;
    border-radius: 8px;
    padding: 0 1rem 1rem 1rem;
    outline: 1px solid salmon;
}
.name-tag {
    font-size: 4rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.my-name {
  background: #c6b892;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
          color: transparent;
}

.intro-info {
    padding: 0;
    margin-top: -0.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    position: relative;
}
.intro-info > div {
    display: flex;
    align-items: center;
}

.intro-info > div i {
  display: inline-block;
  width: 1.2rem;
  text-align: center;
  flex-shrink: 0;
}

.info-edu-name,
.info-from-name {
    gap: 0.75rem;
}

.info-desc { 
    /* a software engineer... */
    font-weight: 400;
    font-size: 1.8rem;
}



.icon-btns {
    gap: 2.5rem; /* space between */
    margin-top: 0.7rem;
    width: fit-content;
    /* outline: 1px solid salmon; */
}

.icon-btn {
    width: clamp(1rem, 1,5rem, 4rem);
    aspect-ratio: 1/1;
    color: #c6b892;
    text-decoration: none; /* no underline */

}

.icon-btn i {
    font-size: 2.5rem; /* icon Size */
    transition: 0.2s ease-in-out ;
    /* outline: 1px dashed gold; */
    
}

.icon-btn:hover {
    transform: scale(1.1);
    color: #fdf9ed;
}

.icon-btn.circle  { border-radius: 50%; }
.icon-btn.square  { border-radius: .5rem; }
.icon-btn.rect    { border-radius: .25rem; }
.icon-btn.tall    { 
    display: flex;
    align-items: center;
    gap: 1.1rem;
    height: 1rem;
    /* outline: 1px solid floralwhite; */
    }

.resume {
    font-size: 1.1rem;
    line-height: 1rem;
    white-space: nowrap;
}

.profile-pic-wrapper {
    position: absolute;
    display: flex;
    top: 2rem; right: 2rem;
    perspective: 1200px;
    width: clamp(150px,20vw,350px);
    aspect-ratio: 1/1;
    transition:  width 0.2s ease-in-out;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10%;
    backface-visibility: hidden;
    box-shadow: 0 0 16px rgba(53,53,53,.75);
    transition: 
        transform 0.2s,
        box-shadow .2s;
    will-change: transform;
}

.profile-pic-wrapper:hover .profile-pic {
    box-shadow:
      0 0 35px -5px #D5C186,
      0 0 20px -5px #9E8B5A,
      0 0 16px     #4E4733;
    transition-duration: .2s;
}

/* Remove leftover pseudo‐glow */
.profile-pic-wrapper::before {
    content: none;
}